$primaryColor: #2286B9 !default;
$primaryLightColor: #97C5DA !default;
$primaryDarkColor: darken($primaryColor, 5%) !default;
$primaryDarkerColor: darken($primaryDarkColor, 5%) !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #EEF2FF !default;
$highlightTextColor: $primaryDarkerColor !default;

@import '../_variables';
@import '../../../../styles/theme-base/components';
@import '../_extensions';
